.sec{
   
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    min-height: 200px;
    display:flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    

}

.sec .animate{
    max-width: 320px;
    margin-right: 50px;
    border-radius: 10px;
    border:rgba(255, 255, 255, 0.185) 1px solid;
    
    
}

.project_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.067);
    border:rgba(255, 255, 255, 0.185) 1px solid;
    border-radius: 10px;
    padding-left: 5px;
    max-width: 320px;
}

.project_info h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}


.sec.active  .animate  {
    
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 1s;
}

.sec .animate{
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

.sec.active  .project_info  {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 1s;
}

.sec .project_info{
    transform: translateX(100%);
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

@media(max-width:777px){
    .sec img{
        margin-right: 0px;
        margin-left:38px;
    } 
}

@media(max-width:768px){
    .sec{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .sec img{
        margin-right:0px;
        margin-bottom: 20px;
    } 

    .project_info{
        max-width: 310px;
    }
}
@media(max-width:375px){
    .sec .animate{
        max-width: 280px; 
    }

    .sec .project_info{
        max-width: 280px;
    }
}